<component name="ArtifactManager">
  <artifact type="war" name="springmvc_day01_2_config:war">
    <output-path>$PROJECT_DIR$/springmvc_day01_2_config/target</output-path>
    <root id="archive" name="springmvc_day01_2_config.war">
      <element id="artifact" artifact-name="springmvc_day01_2_config:war exploded" />
    </root>
  </artifact>
</component>